<footer class="footer hidden-print">
  <div class="container">
    <div class="row">
      <div class="footer__developed-by">
        <h3 class="text-center">Developed by</h3>
        <a href="http://history.unt.edu/" target="_blank" id="{{ body_id }}-footer-history-dept-logo">
          <img src="public/img/footer_dept_of_history_wht.png" class="footer__logo footer-unt-history-logo">
        </a>
        <div class="text-center">
          <a href="http://texashistory.unt.edu/" id="footer-portal-tx-history {{ body_id }}-footer-portal-tx-history" target="_blank">
            The Portal to Texas History
          </a>
        </div>
      </div><!-- col -->

      <div class="clearfix visible-xs-block"></div>
      <div class="footer__project-partners">
        <h3>Project Partners</h3>
        <div class="col-xs-4">
          <a href="https://www.cah.utexas.edu" id="{{ body_id }}-footer-briscoe-logo">
            <img class="footer__logo" src="public/img/Briscoe-Center_logo_white.png">
          </a>
          <div class="text-center">
            <a href="https://www.cah.utexas.edu" id="{{ body_id }}-footer-briscoe-text">Briscoe Center for American History, University of Texas</a>
          </div>
        </div>
        <div class="col-xs-4">
          <a href="http://summerlee.org/" id="{{ body_id }}-footer-summerlee-logo">
            <img class="footer__logo" src="public/img/Summerlee_logo_white.png">
          </a>
          <div class="text-center">
            <a href="http://summerlee.org/" id="{{ body_id }}-footer-summerlee-text">The Summerlee Foundation, Dallas, Texas</a>
          </div>
        </div>
        <div class="col-xs-4">
          <a href="http://www.glo.texas.gov/save-texas-history/" id="{{ body_id }}-footer-txglo-logo">
            <img class="footer__logo" src="public/img/TGLO_logo_white.png">
          </a>
          <div class="text-center">
            <a href="http://www.glo.texas.gov/save-texas-history/" id="{{ body_id }}-footer-txglo-text">Texas General Land Office</a>
          </div>
        </div>
      </div><!-- col -->
    </div><!-- row -->
  </div>
</footer>