<li class="search-results-list__item">
  <a href="document?id={{ result.id }}" id="search-result-{{ result.id }}" class="search-results-list__item-title">
    {{ result.title|split(',', -1)|join(',') }}</a>
  <div class="search-results-list__item-details">
    <span class="search-results-list__item-date">
      {% if result.date == '0000-00-00' %}
        Date unknown
      {% else %}
        {{ result.date|date("M j, Y") }}
      {% endif %}
    </span> -
    <span class="search-results-list__item-summary">{{ result.summary }}</div>
    <span class="search-results-list__item-sentiment" data-sentiment="{{ result.sentimentScore }}">
      Sentiment: <span class="search-result-list__item-sentiment-score"></span> <i class="fa fa-info-circle" data-toggle="tooltip" title="
      {{ result.sentimentScore }} score, in documents ranging from
      <span class='search-result-list__item-sentiment-score--min'></span> to
      <span class='search-result-list__item-sentiment-score--max'></span>
      "></i>
    </span><!-- search-results-list__item-sentiment -->
  </div><!-- search-results-list__item-details -->
</li>