{% extends 'base.twig' %}

{% block title %}Browse | {{ parent() }}{% endblock %}

{% block content %}
<div class="" id="browse">

  <h2>Browse All Documents</h2>

<div class="col-sm-3">
  <h3>Browse by:</h3>
  <ul class="nav nav-pills nav-stacked">
    {% for cat in sortCategories %}
      <li role="presentation" class="{% if cat == browseBy %}active{% endif %}">
        <a href="browse?browseBy={{ cat }}">{{ cat|capitalize }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="col-sm-9">
  <div class="pull-right">
    <a href="javascript:void(0)" id="collapse-expand-all" data-state="collapsed">Expand all</a>
  </div>

  <ul class="list-unstyled" id="browse-results">
  {% for heading, item in results %}
    {% set browse_id = heading|lower|replace({' ': '', '.': '', ',': '', '[': '', ']': '', '/': ''}) %}
    <li><h3><a class="category-header" data-toggle="collapse" href="#browse-{{ browse_id }}"
               aria-expanded="false" aria-controls="browse-{{ browse_id }}">{{ heading }} <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h3>
      <div class="collapse" id="browse-{{ browse_id }}">
        <ul>
      {% for id, info in item %}
        <li>
          <a href="document?id={{ id }}.xml" id="browse-{{ id }}">{{ info.document_title }}</a><br>
          {{ info.document_summary }}
        </li>
      {% endfor %}
        </ul>
      </div>
  {% endfor %}
    </li>
  </ul>

  <nav>
    <ul class="pagination hidden">
      <li>Prev</li>
      <li>Page #n</li>
      <li>Page #n</li>
      <li>Page #c</li>
      <li>Page #n</li>
      <li>Page #n</li>
      <li>Next</li>
    </ul>
  </nav>
</div>
</div>
{% endblock %}

{% block scripts_footer %}
{{ parent() }}
<script>
  var totalHeadings = {{ results|length }};
</script>
<script src="assets/js/jquery-paging/jquery.paging.min.js"></script>
<script src="assets/js/browse.min.js"></script>
{% endblock %}