{% extends 'base.twig' %}

{% from 'macros.twig' import class_filter %}

{% block title %}Browse | {{ parent() }}{% endblock %}

{% block content %}
<div class="" id="browse">

  <h2>Browse All Documents</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<div class="col-sm-3">
  <h3>Browse by:</h3>
  <ul class="nav nav-pills nav-stacked">
    {% for cat in sortCategories %}
      <li role="presentation" class="{% if cat == browseBy %}active{% endif %}">
        <a href="browse?browseBy={{ cat }}">{{ cat|capitalize }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="col-sm-9">
  <div class="pull-right">
    <a href="javascript:void(0)" id="collapse-expand-all" data-state="collapsed">Expand all</a>
  </div>

  <ul class="list-unstyled browse-list" id="browse-results">
  {% for heading, item in results %}
    <li class="browse-list__category">

      <h3>
        <a class="browse-list__category-header" data-toggle="collapse"
           href="#browse-{{ class_filter(heading) }}" aria-expanded="false" aria-controls="browse-{{ class_filter(heading) }}">
          {{ heading }}
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <small>({% if item|length == 1 %}1 letter{% else %}{{ item|length }} letters{% endif %})</small>
        </a>
      </h3>

      <div class="collapse" id="browse-{{ class_filter(heading) }}">

        <a class="browse-list__search_button btn btn-primary btn-sm"
           href="search?query={{ heading|url_encode }}">
          Search for {{ heading }}
        </a>

        <ul class="browse-list__item-list">
        {% for id, info in item %}
        <li class="browse-list__item">
          <a href="document?id={{ id }}.xml" id="browse-{{ browseBy }}--{{ id }}" class="browse-list__item title">
            {{ info.document_title|split(',', -1)|join(',') }}
          </a>
          <div class="browse-list__item-details">
            <span class="browse-list__item-date">
              {% if info.document_date == '0000-00-00' %}
                Date unknown
              {% else %}
                {{ info.document_date|date("M j, Y") }}
              {% endif %}
            </span> -
            <span class="browse-list__item-summary">{{ info.document_summary }}</span>
          </div>
        </li>
        {% endfor %}
        </ul>
      </div><!-- browse-* -->
  {% endfor %}
    </li>
  </ul>

  <nav>
    <ul class="pagination hidden">
      <li>Prev</li>
      <li>Page #n</li>
      <li>Page #n</li>
      <li>Page #c</li>
      <li>Page #n</li>
      <li>Page #n</li>
      <li>Next</li>
    </ul>
  </nav>
</div>
</div>
{% endblock %}

{% block scripts_footer %}
{{ parent() }}
<script>
  var totalHeadings = {{ results|length }};
</script>
<script src="assets/js/jquery-paging/jquery.paging.min.js"></script>
<script src="assets/js/browse.min.js"></script>
{% endblock %}