{% extends 'base.twig' %}

{% block title %}{{ document.title }} | {{ parent() }}{% endblock %}

{% block metadata_opengraph %}
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://digitalaustinpapers.org/document?id={{ document.id }}">
  <meta property="og:title" content="{{ document.title }}">
  <meta property="og:description" content="{{ document.summary }}">
{% endblock metadata_opengraph %}

{% block main_container %}
  <div class="col-md-10 col-md-push-1">
    <article>
      <hgroup class="clearfix">
        <h1 id="title">{{ document.title }}</h1>
        <hr>
        <p class="pull-left" id="summary">Summary: {{ document.summary }}</p>
        <div id="teixml">
          <a href="https://raw.githubusercontent.com/DigitalAustinPapers/AustinTranscripts/master/teip5_xml/{{ document.id }}.xml" download>
            <img class="pull-right" src="assets/img/xml-tei_button.gif" alt="xml:tei icon">
          </a>
        </div><!-- teixml -->
      </hgroup>
      <hr>
      <div id="text doc-{{ document.id }}">
        {{ letter_body_display|raw }}
      </div><!-- text -->
    </article>

      <hr>
      <aside id="cite"><h3>Citation</h3>
        {{ citation|raw }}
      </aside>
  </div><!-- col-sm-12 -->

{% endblock %}