<li class="search-results-list__item">
  <a href="document.php?id={{ result.id }}.xml" id="search-result-{{ result.id }}" class="search-results-list__item-title">
    {{ result.title }}</a>
  <div class="search-results-list__item-details">
    <div class="search-results-list__item-summary">{{ result.summary }}</div>
    <span class="search-results-list__item-date">
      Date -
      {% if result.date == '0000-00-00' %}
        Unknown
      {% else %}
        {{ result.date }}
      {% endif %}
    </span>
    <span class="search-results-list__item-sentiment">
      Sentiment - {{ result.sentimentScore }}
    </span><!-- search-results-list__item-sentiment -->
  </div><!-- search-results-list__item-details -->
</li>